<div id="login">

  <!-- # Login Infos-->
  <%= render 'devise/shared/infos' %>

  <!-- # Login Form -->
  <div class="login-form">
    <div class="login-container">
      <div class="login-signin">

        <!-- # Title -->
        <div class="login-head">
          <h3 class="login-title">Forgotten Password ?</h3>
          <div class="login-desc">Enter your email to reset your password:</div>
        </div>

        <!-- # Form -->
        <%= form_for(resource, as: @user, url: password_path(@user)) do |f| %>

            <!-- # Inputs -->
            <div class="form-group form__group">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
              <%- if !@user.errors.messages[:'email'].empty?  %>
                  <div class="form-control-feedback has-danger">
                    <%= @user.errors.messages[:'email'][0] %>
                  </div>
              <% end -%>
            </div>

            <!-- # Buttons -->
            <div class="login-form-action">
              <%= f.submit 'Request', class: 'btn btn-focus m-btn btn-pill btn-air' %>
              <%- if controller_name != 'sessions' %>
                  <%= link_to 'Cancel', new_session_path(@user), class: 'btn btn-outline-focus btn-pill' %>
              <% end -%>
            </div>

        <% end %>


      </div>
    </div>
  </div>

</div>