<div id="login">

  <!-- # Login Infos-->
  <div class="login-infos">
    <div class="login-wrapper">
      <div class="login-container">
        <div class="login-content">
          <div class="login-logo">
            <a href="#">
              <img src="<%= asset_pack_path '_/assets/images/frontend/logos/logo.png' %>"/>
            </a>
          </div>
          <div class="login-title">
            <h3>
              Join Our Great Metro Community Get Free Account
            </h3>
          </div>
          <div class="login-description">
            Amazing Stuff is Lorem Here.Grownng Team
          </div>
          <div class="login-form-action">
            <a href="#" class="btn btn-outline-focus">Get An Account</a>
          </div>
        </div>
      </div>
      <div class="login-border">
        <div></div>
      </div>
    </div>
  </div>

  <!-- # Login Form -->
  <div class="login-form">
    <div class="login-container">
      <div class="login-signin">
        <div class="login-head">
          <h3 class="login-title">Login To Your Account</h3>
        </div>
      </div>
    </div>
  </div>

</div>







<div style="display: none">

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
  <% end %>

  <%= render 'devise/shared/links' %>

</div>