<!DOCTYPE html>
<html>
<head>
  <title>myApp - Backend</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'backend' %>
  <%= javascript_pack_tag 'backend' %>

</head>

<body class="m-page-fluid m-header-fixed m-header-fixed-mobile m-aside-left-enabled m-footer-push dashboard">

  <!-- # If User is Logged In -->
  <% if user_signed_in? %>

    <%
    ################################
    #                              #
    #        Dashboard Views       #
    #                              #
    ################################
    %>
    <div class="m-grid m-grid-hor m-grid-root m-page">

      <%
      ################################
      #            Header            #
      ################################
      %>
      <%= render 'layouts/backend/header' %>

      <%
      ################################
      #             Body             #
      ################################
      %>
      <div class="m-grid-item m-grid-item-fluid m-grid m-grid-ver-desktop m-grid-desktop m-body">

        <%
        ################################
        #             Aside            #
        ################################
        %>
        <%= render 'layouts/backend/aside' %>

        <!-- # Content -->
        <%= yield %>

      </div>

    </div>

  <%
  ################################
  #                              #
  #          Login Views         #
  #                              #
  ################################
  %>
  <% else %>

    <div id="login">
      <%= yield %>
    </div>

  <% end %>

</body>
</html>